 You're going to like tell me what matrix will do it. It's the matrix that leaves the first row unchanged, leaves the last row unchanged, but takes three of these away from this, so it puts a 0 there, a 2 there, and a minus 2. Good. What matrix will do it? It should be a pretty simple matrix, because we're doing a very simple step. We're just doing this step that changes row 2. So actually, row 1 is not changing. So tell me how the matrix should begin. 1. So the first row of the matrix will be 1, 0, 0. Because that's just the right thing that takes one of that row and none of the other rows, and that's what we want. What's the last row of the matrix? 0, 0, 1.