opencv-python-headless==4.10.0.84
python3-opencv
libgl1 
mediapipe==0.10.14
numpy
pandas
matplotlib
seaborn
plotly
streamlit
streamlit-webrtc
av
moviepy
vosk
pydub
ffmpeg-python
scipy
openai
beautifulsoup4
requests
openai-whisper